@page {
    margin: 0;
}

@media print {

    .no-print {
        display: none;
    }

    @page :footer {
        color: #fff
    }

    @page :header {
        color: #fff
    }

    body {
        margin: .65in;
        color: #000;
    }

    a, a:visited {
        color: #000;
        text-decoration: none;
    }

    .page[size="A4"] {
        margin: 0;
        padding: 0;
        font-size: 7.5pt;
    }

    .work-title {
        font-size: 12px !important;
    }

    .sub-heading {
        font-size: 8px !important;
    }


    .section-header,
    .sub-heading {
        color: #000;
        text-shadow: none;
        letter-spacing: normal !important;
    }

    .section-content {
        border-top: 1px solid #666;
    }

    .color-light {
        color: #111;
    }

    .page-break {
        page-break-before: always;
        margin-top: .65in;
    }

}